
.idea/misc.xml

model/__pycache__/user.cpython-310.pyc

model/__pycache__/database.cpython-310.pyc

.idea/modules.xml

.idea/vcs.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/database.iml
