
.idea/misc.xml

db_elems/__pycache__/user.cpython-310.pyc

db_elems/__pycache__/database.cpython-310.pyc

.idea/modules.xml

.idea/vcs.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/database.iml

*.pyc
